Repository gkbiswas/hotel-reviews-microservice, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ops-team, @senior-engineers, @devops-team, @infrastructure-team, @go-team, @backend-team, @database-team, @technical-writers, @product-team, @security-team, @qa-team, @performance-team, @sre-team, @legal-team

.github/CODEOWNERS:

# Code owners for the Hotel Reviews Microservice
# This file defines individuals or teams that are responsible for code in this repository.

# Global owners (fallback)
* @ops-team @senior-engineers

# GitHub Actions and CI/CD workflows
/.github/ @ops-team @devops-team
/.github/workflows/ @ops-team @devops-team
/.github/dependabot.yml @ops-team @devops-team

# Docker and infrastructure
/docker/ @ops-team @devops-team @infrastructure-team
Dockerfile @ops-team @devops-team @infrastructure-team
docker-compose.yml @ops-team @devops-team @infrastructure-team

# Go source code
*.go @senior-engineers @go-team
go.mod @senior-engineers @go-team
go.sum @senior-engineers @go-team

# Application code
/cmd/ @senior-engineers @go-team @backend-team
/internal/ @senior-engineers @go-team @backend-team
/pkg/ @senior-engineers @go-team @backend-team

# Database migrations
/migrations/ @senior-engineers @database-team @backend-team

# Configuration files
/config/ @senior-engineers @ops-team @backend-team
config.example.yaml @senior-engineers @ops-team @backend-team
*.yml @ops-team @devops-team
*.yaml @ops-team @devops-team

# Documentation
/docs/ @senior-engineers @technical-writers @product-team
README.md @senior-engineers @technical-writers @product-team
*.md @technical-writers @product-team

# Security and compliance
.golangci.yml @senior-engineers @security-team
.secrets.baseline @security-team @ops-team

# Testing
/tests/ @senior-engineers @qa-team @backend-team
*_test.go @senior-engineers @qa-team @backend-team

# Load testing
/tests/load/ @ops-team @performance-team @qa-team

# Examples and demos
/examples/ @senior-engineers @technical-writers @backend-team

# Monitoring and observability
/monitoring/ @ops-team @sre-team
/observability/ @ops-team @sre-team

# Kubernetes and deployment
/k8s/ @ops-team @devops-team @infrastructure-team
/deploy/ @ops-team @devops-team @infrastructure-team
/helm/ @ops-team @devops-team @infrastructure-team

# Scripts and automation
*.sh @ops-team @devops-team
/scripts/ @ops-team @devops-team

# License and legal
LICENSE @legal-team @senior-engineers
NOTICE @legal-team @senior-engineers

# Vulnerability and security reports
SECURITY.md @security-team @senior-engineers

# Change log and releases
CHANGELOG.md @senior-engineers @product-team
RELEASES.md @senior-engineers @product-team

# Package and dependency management
vendor/ @senior-engineers @go-team

# Environment-specific configurations
/.github/environments/ @ops-team @devops-team @senior-engineers

# Performance and benchmarking
/benchmarks/ @senior-engineers @performance-team
/performance/ @senior-engineers @performance-team

# API documentation
/api/ @senior-engineers @technical-writers @product-team
swagger.yml @senior-engineers @technical-writers @product-team
openapi.yml @senior-engineers @technical-writers @product-team

feat: Complete comprehensive test suite fixes and quality improvements
  go.mod
  go.sum
  internal/application/auth_handlers.go
  internal/application/auth_handlers_comprehensive_test.go
  internal/application/auth_middleware.go
  internal/application/auth_middleware_test.go
  internal/application/cache_service_test.go
  internal/application/event_handlers_test.go
  internal/application/processor_test.go
  internal/domain/entities_test.go
  internal/domain/events_test.go
  internal/infrastructure/async_processor_test.go
  internal/infrastructure/auth.go
  internal/infrastructure/circuit_breaker_integration.go
  internal/infrastructure/circuit_breaker_integration_test.go
  internal/infrastructure/circuit_breaker_test.go
  internal/infrastructure/config_watcher.go
  internal/infrastructure/config_watcher_test.go
  internal/infrastructure/database_test.go
  internal/infrastructure/error_handler.go
  internal/infrastructure/infrastructure_test.go
  internal/infrastructure/jsonlines.go
  internal/infrastructure/kafka_test.go
  internal/infrastructure/middleware/base_middleware_test.go
  internal/infrastructure/protected_repository_test.go.bak
  internal/infrastructure/rate_limiter_test.go
  internal/infrastructure/redis_cache_service_test.go
  internal/infrastructure/redis_test.go
  internal/infrastructure/repository_test.go
  internal/monitoring/business_metrics.go
  internal/monitoring/health.go
  internal/monitoring/health_test.go
  internal/monitoring/metrics.go
  internal/monitoring/metrics_test.go
  internal/monitoring/monitoring.go
  internal/monitoring/monitoring_test.go
  internal/monitoring/tracing.go
  internal/monitoring/tracing_test.go
Owners: @senior-engineers, @go-team, @backend-team, @qa-team

feat: Complete local development setup with comprehensive testing suite
  .env.local
  INTEGRATION_TESTS_SUMMARY.md
  Makefile
  docker-compose.local.yml
  quick_test.sh
  resilience_test.sh
  smoke_tests.sh
Owners: @ops-team, @senior-engineers, @technical-writers, @product-team, @devops-team

docs: Update enterprise assessment scores across all documentation
  EXECUTIVE_SUMMARY.md
  INTEGRATION_TESTS_SUMMARY.md
  README.md
Owners: @technical-writers, @product-team

fix: Resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  cmd/migrate/main.go
  hotel-reviews.log
Owners: @ops-team, @devops-team, @senior-engineers, @go-team, @backend-team

fix: Resolve build errors and import issues
  go.mod
  go.sum
  hotel-reviews.log
  internal/analytics/processors.go
  internal/events/handlers.go
  internal/events/sagas.go
Owners: @senior-engineers, @go-team, @ops-team, @backend-team

fix: Improve database migration robustness
  cmd/migrate/main.go
  hotel-reviews.log
Owners: @senior-engineers, @go-team, @backend-team, @ops-team

fix: Resolve infrastructure test failures
  internal/infrastructure/circuit_breaker.go
  internal/infrastructure/circuit_breaker_test.go
  internal/infrastructure/rate_limiter_test.go
  internal/infrastructure/repository.go
  internal/infrastructure/repository_test.go
Owners: @senior-engineers, @go-team, @backend-team, @qa-team

feat: Add complete multi-region infrastructure with Terraform IaC
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE_STATUS.md
  docs/multi-region-architecture.md
  hotel-reviews.log
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/region/alb.tf
  infrastructure/terraform/modules/region/database.tf
  infrastructure/terraform/modules/region/eks.tf
  infrastructure/terraform/modules/region/main.tf
  infrastructure/terraform/modules/region/outputs.tf
  infrastructure/terraform/modules/region/user_data.sh
  infrastructure/terraform/modules/region/variables.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/variables.tf
Owners: @technical-writers, @product-team, @ops-team, @senior-engineers, @devops-team

docs: Add comprehensive code review submission document
  CODE_REVIEW_SUBMISSION.md
Owners: @technical-writers, @product-team

docs: Update author attribution and contact information
  CODE_REVIEW_SUBMISSION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE_STATUS.md
  docs/adr/001-clean-architecture-adoption.md
  docs/adr/002-dependency-injection-strategy.md
  docs/adr/003-error-handling-strategy.md
  docs/adr/004-data-storage-strategy.md
  docs/adr/005-testing-strategy.md
  docs/adr/006-api-design-principles.md
  docs/api/errors.md
  docs/api/index.md
  docs/api/rate-limiting.md
  docs/api/sdk-generation.md
  hotel-reviews.log
Owners: @technical-writers, @product-team, @ops-team, @senior-engineers

feat: Add complete Kubernetes manifests and missing documentation
  hotel-reviews.log
  infrastructure/terraform/prod.tfvars
  k8s/addons/aws-load-balancer-controller.yaml
  k8s/base/namespace.yaml
  k8s/manifests/primary/hotel-reviews-deployment.yaml
  k8s/manifests/secondary/hotel-reviews-deployment.yaml
  k8s/manifests/tertiary/hotel-reviews-deployment.yaml
  monitoring/cloudwatch-dashboard.json
Owners: @ops-team, @senior-engineers, @devops-team, @infrastructure-team, @sre-team

docs: Complete comprehensive documentation suite
  CONTRIBUTING.md
  LICENSE
  docs/api.md
  docs/codegen.md
  docs/development.md
  docs/performance.md
  docs/schema.md
  docs/testing.md
  examples/async-processing.md
  examples/caching.md
  examples/load-testing.md
  examples/monitoring.md
  examples/security.md
  examples/tutorial.md
Owners: @technical-writers, @product-team, @legal-team, @senior-engineers, @backend-team

docs: Update support email to gkbiswas@gmail.com
  README.md
Owners: @technical-writers, @product-team

fix: Update documentation link to GitHub repository
  README.md
Owners: @technical-writers, @product-team

docs: Update improvement roadmap based on current achievements
  IMPROVEMENT_ROADMAP.md
Owners: @technical-writers, @product-team

docs: Add comprehensive Kafka async processing architecture diagrams
  docs/diagrams/async-event-architecture.mmd
  docs/diagrams/async-processing-sequence.mmd
  docs/diagrams/event-lifecycle-state.mmd
  docs/diagrams/kafka-component-interaction.mmd
  docs/diagrams/kafka-partitioning-strategy.mmd
Owners: @senior-engineers, @technical-writers, @product-team
